[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
qlient = "*"
numpy = "*"
pandas = "*"
graphene = "*"
graphene_django = "*"
graphene_mongo = "*"
strawberry-graphql = "*"
tartiflette = "*"
pymongo = "*"
mongoengine = "*"
dnspython = "*"
certifi = "*"
idna = "*"
urllib3 = "*"
chardet = "*"
pydantic = "*"

[requires]
python_version = "3.10"
